<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все товары</h1>
<hr>
<!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{% current_time '%b %d %Y' %}</h3>
<!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
<h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
<!-- Выводим товары, только если они есть с помощью тега if -->
   {% if products %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <!-- Добавляем ячейку в строку -->
               <td> Название </td>
               <!-- Добавляем ещё одну ячейку в строку и так далее -->
               <td> Описание </td>
               <td> Категория </td>
               <td> Цена </td>
               <td> Количество </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
           {% for product in products %}
           <tr>
               <td>{{ product.name }}</td>
               <td>{{ product.description|truncatechars:15 }}</td>
               <td>{{ product.category.name }}</td>
               <td>{{ product.price|currency }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет -->
       <h2>Товаров нет!</h2>
   {% endif %}
<!-- Добавляем пагинацию на страницу
 Информация о предыдущих страницах  -->
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

<!-- Информация о текущей странице -->
{{ page_obj.number }}

<!-- Информация о следующих страницах -->
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}